<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новый заказ</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="main-content">
    <h1>Новый заказ</h1>

    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="/create-order">Новый заказ</a></li>
                <li><a href="/view-orders.html">Просмотр заказов</a></li>
                <li><a href="/login">Выход</a></li>
            </ul>
        </div>

        <div class="form-column">
            <form th:action="@{/create-order}" method="post" id="orderForm">
                <h2>Выбор блюда</h2>
                <p>
                    <select id="typeSelect" onchange="filterDishesByType()">
                        <option value="" disabled>Select a type</option>
                        <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"/>
                    </select>
                </p>
                <p>
                    <select id="dishSelect" name="dish_id" required>
                        <option value="" disabled>Select a dish</option>
                        <option th:each="dish : ${dishes}" th:value="${dish.id}"
                                th:text="${dish.name} + ' - ' + ${dish.cost}"
                                th:data-type-id="${dish.type.id}" th:data-cost="${dish.cost}"/>
                    </select>
                    <br>
                <p>
                    <button type="button" onclick="addDish()" id="addDishButton">Добавить блюдо</button>
                </p>
                </p>
            </form>
        </div>

        <div class="order-column">
            <h2>Текущий заказ</h2>
            <p>
                Столик:
                <select name="table_id" required id="tableSelect">
                    <option value="" disabled>Select a table</option>
                    <option th:each="table : ${tables}" th:value="${table.id}" th:text="${table.id}"/>
                </select>
            </p>
            <h2>Выбранные блюда:</h2>
            <div id="selectedDishes"></div>
            <div class="total-cost">
                <p id="totalCost">Совокупная стоимость: 0</p>
                <button onclick="submitOrder()">Создать заказ</button>
                <p>
                    <button type="reset" onclick="resetOrder()">Сбросить заказ</button>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('addDishButton').disabled = true;

    let selectedDishes = [];
    let selectedDishCosts = {};
    let selectedDishCounts = {};
    let totalCost = 0;

    function filterDishesByType() {
        let selectedType = document.getElementById('typeSelect').value;
        let dishes = document.getElementById('dishSelect').options;
        for (let i = 0; i < dishes.length; i++) {
            let dish = dishes[i];
            dish.style.display = dish.getAttribute('data-type-id') === selectedType ? '' : 'none';
        }
        document.getElementById('dishSelect').selectedIndex = -1;
        document.getElementById('addDishButton').disabled = true;
    }

    function addDish() {
        let dishSelect = document.getElementById("dishSelect");
        let dishId = dishSelect.value;
        let dishDetails = dishSelect.options[dishSelect.selectedIndex].text.split(" - ");
        let dishName = dishDetails[0];
        let dishCost = parseFloat(dishDetails[1]);

        selectedDishCounts[dishId] = (selectedDishCounts[dishId] || 0) + 1;
        selectedDishCosts[dishId] = dishCost;
        let selectedDishesDiv = document.getElementById("selectedDishes");
        let dishDiv = document.getElementById("dish" + dishId);
        let dishTextDiv;

        if (dishDiv) {
            dishTextDiv = dishDiv.querySelector(".dish-text");
            dishTextDiv.textContent = dishName + " - " + dishCost + " (x" + selectedDishCounts[dishId] + ")";
        } else {
            selectedDishes.push(dishId);
            dishDiv = document.createElement("div");
            dishDiv.setAttribute("id", "dish" + dishId);

            dishTextDiv = document.createElement("div");
            dishTextDiv.classList.add("dish-text");
            dishTextDiv.textContent = dishName + " - " + dishCost + " (x" + selectedDishCounts[dishId] + ")";
            dishDiv.appendChild(dishTextDiv);

            let hiddenInput = document.createElement("input");
            hiddenInput.setAttribute("type", "hidden");
            hiddenInput.setAttribute("name", "dish_ids");
            hiddenInput.setAttribute("value", dishId);
            dishDiv.appendChild(hiddenInput);

            let addBtn = document.createElement("button");
            addBtn.textContent = "+";
            addBtn.onclick = function () {
                changeDishCount(dishId, 1);
            };

            let removeBtn = document.createElement("button");
            removeBtn.textContent = "-";
            removeBtn.onclick = function () {
                changeDishCount(dishId, -1);
            };

            dishDiv.appendChild(addBtn);
            dishDiv.appendChild(removeBtn);

            selectedDishesDiv.appendChild(dishDiv);
        }
        totalCost += dishCost;
        document.getElementById("totalCost").textContent = "Совокупная стоимость: " + totalCost;
    }

    document.getElementById('dishSelect').addEventListener('change', function () {
        document.getElementById('addDishButton').disabled = this.value === '';
    });

    function changeDishCount(dishId, countChange) {
        selectedDishCounts[dishId] += countChange;
        totalCost += selectedDishCosts[dishId] * countChange;
        let dishDiv = document.getElementById("dish" + dishId);
        let dishTextDiv = dishDiv.querySelector(".dish-text");
        let dishName = dishTextDiv.textContent.split(" - ")[0];
        dishTextDiv.textContent = dishName + " - " + selectedDishCosts[dishId] + " (x" + selectedDishCounts[dishId] + ")";

        if (selectedDishCounts[dishId] === 0) {
            dishDiv.remove();
            delete selectedDishCounts[dishId];
            const index = selectedDishes.indexOf(dishId);
            if (index > -1) {
                selectedDishes.splice(index, 1);
            }
        }
        document.getElementById("totalCost").textContent = "Совокупная стоимость: " + totalCost;
    }

    function resetOrder() {
        selectedDishes = [];
        selectedDishCosts = {};
        selectedDishCounts = {};
        totalCost = 0;
        document.getElementById("totalCost").textContent = "Совокупная стоимость: " + totalCost;
        let selectedDishesDiv = document.getElementById("selectedDishes");
        while (selectedDishesDiv.firstChild) {
            selectedDishesDiv.removeChild(selectedDishesDiv.firstChild);
        }
    }

    window.onload = function () {
        document.getElementById('typeSelect').value = "";
        document.getElementById('dishSelect').value = "";
        document.getElementById('table_id').value = "1";
        filterDishesByType();
    };
</script>
</body>
</html>
