<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заказы</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="sidebar">
    <a href="/staff">Работники</a>
    <a href="/orders">Заказы</a>
    <a href="/menu">Меню</a>
    <a href="/login">Выйти</a>
</div>

<div class="main-content">
    <h1>Управление заказами</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Информация о заказе</th>
            <th>Совокупная стоимость</th>
            <th>Столик</th>
            <th>Время подачи заказа</th>
            <th>Время выполнения заказа</th>
            <th>Статус заказа</th>
        </tr>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.information}"></td>
            <td th:text="${order.totalCost + ' р.'}"></td>
            <td th:text="${order.table.id}"></td>
            <td th:text="${order.startTime}"></td>
            <td th:text="${order.endTime}"></td>
            <td th:text="${order.status}"></td>
        </tr>
    </table>
</div>
</body>
</html>
