<!DOCTYPE html>
<html>

<head>
    <title>Отслеживание статуса заказа</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<div class="order-container">
    <h2>Отслеживание статуса заказа</h2>
    <div th:each="order : ${orders}">
        <div class="order-info">
            <div class="order-info-item">
                <strong>Номер заказа:</strong>
                <span th:text="${order.id}"></span>
            </div>
            <div class="order-info-item">
                <strong>Информация:</strong>
                <span th:text="${order.information}"></span>
            </div>
            <div class="order-info-item">
                <strong>Статус:</strong>
                <span th:text="${order.status}"></span>
            </div>
            <div class="order-info-item">
                <strong>Дата и время начала:</strong>
                <span th:text="${order.startTime}"></span>
            </div>
            <div class="order-info-item">
                <strong>Дата и время окончания:</strong>
                <span th:text="${order.endTime}"></span>
            </div>
            <div class="order-info-item">
                <strong>Стоимость заказа:</strong>
                <span th:text="${order.totalCost}"></span>
            </div>
            <div class="order-info-item">
                <strong>Блюда в заказе:</strong>
                <ul th:each="dish : ${order.dishes}">
                    <li th:text="${dish.name}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>

</html>
