<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Расписание</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="sidebar">
    <ul>
        <li><a href="/view-schedule">Расписание</a></li>
        <li><a href="/assign-shifts">Назначение смен</a></li>
        <li><a href="/book-table">Бронирование столиков</a></li>
        <li><a href="/manage-orders">Работа с заказами</a></li>
        <li><a href="/login">Выход</a></li>
    </ul>
</div>

<div class="main-content">
    <div id="content">
        <h2>График работы</h2>
        <table>
            <tr>
                <th>Сотрудник</th>
                <th>Дата</th>
            </tr>
            <tr th:each="workHour : ${workHours}">
                <td th:text="${workHour.staff.name}"></td>
                <td th:text="${workHour.date}"></td>
            </tr>
        </table>
        <h2>Статистика смен</h2>
        <table>
            <tr>
                <th>Сотрудник</th>
                <th>Количество смен</th>
            </tr>
            <tr th:each="entry : ${shiftStats}">
                <td th:text="${entry.key.name}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
