body {
    background-color: bisque;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    display: flex;
}

h1, h2 {
    text-align: center;
    margin-bottom: 40px;
}

.sidebar, .sidebar-right {
    background-color: #333;
    padding: 15px;
    width: 15%;
    position: fixed;
    height: 100%;
    overflow: auto;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sidebar {
    left: 0;
}

.sidebar-right {
    right: 0;
}

.sidebar a, .sidebar-right a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover, .sidebar-right a:hover {
    background-color: #555;
}

.main-content {
    flex-grow: 1;
    padding: 15px;
    margin-left: 17%;
    margin-right: 20%;
}

table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ccc;
}

table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

table tr:hover {
    background-color: #f4f4f4;
}

form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.actions {
    display: flex;
    flex-direction: column;
}

.actions a {
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}
