<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заказы кухни</title>
    <link rel="stylesheet" th:href="@{/css/kitchen-styles.css}"/>
</head>
<body>
<div id="content">
    <table>
        <thead>
        <tr>
            <th>Заказ</th>
            <th>Блюдо</th>
            <th>Статус</th>
            <th>Изменить статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderedDish : ${orderedDishes}">
            <td th:text="${orderedDish.order.id}"></td>
            <td>
                <a th:href="@{'/recipe/' + ${orderedDish.dish.recipe.id}}" th:text="${orderedDish.dish.name}"></a>
            </td>
            <td th:text="${orderedDish.status}"></td>
            <td>
                <form th:action="@{'/update-dish-status/' + ${orderedDish.id}}" method="post">
                    <select name="status">
                        <option value="Готовится">Готовится</option>
                        <option value="Готово">Готово</option>
                        <option value="Сервировано">Сервировано</option>
                    </select>
                    <button type="submit">Обновить</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
